{% extends "layout.html" %}

{% block title %}
Reset Password
{% endblock %}

{% block main %}
<form action="/forgotPass" method="post">
  <div class="mb-3">
    <input autocomplete="off" autofocus class="inputBox" name="username" placeholder="Username" type="text">
  </div>
  <div class="mb-3">
    <input class="inputBox" name="password" placeholder="Password" type="password">
  </div>
  <div class="mb-3">
    <input class="inputBox" name="confirmPassword" placeholder="Confirm Password" type="password">
  </div>
  <button class="saveUpdateBtn" type="submit">
    <i class="fa-solid fa-key"></i> Reset Password</button>
</form>
{% endblock %}
