{% extends "layout.html"%}

{% block title %}
User Profile
{% endblock %}

{% block main %}
<div class="space-y-6">
    <div class="bg-sky-200 w-1/6 h-[50vh] p-2 place-self-center rounded-full flex flex-col
        items-center justify-center">
        <img id="profilePreview"
            src="{{ user[0]['images'] if user[0]['images'] else '/static/images/profile_img.jpg' }}" alt="Profile Image"
            class="w-full h-full object-cover rounded-full border-1 border-white shadow-md cursor-pointer"
            onclick="document.getElementById('prImage').click()">
    </div>
    <button class="addSearchBtn" onclick="writeProfile()"><i class="fa-solid fa-user-pen"></i> Edit Profile
    </button>
    <div class="grid grid-cols-2 gap-4">
        <div>
            <span class="font-semibold text-lg">Basic Information</span>
        </div>
        <div>
            <form action="/profile" method="post" enctype="multipart/form-data">
                <input type="file" id="prImage" name="prImage" accept="image/*" class="hidden"
                    onchange="previewImage(event)">
                <div class="mb-3">
                    <input autocomplete="off" class="inputBox" name="prUsername" id="prUsername" placeholder="Username"
                        type="text" value="{{ user[0]['username'] }}" required readonly>
                </div>
                <div class="mb-3">
                    <input autocomplete="off" class="inputBox" name="prEmail" placeholder="Email" type="text"
                        value="{{ user[0]['email'] if user[0]['email'] else '' }}" id="prEmail" required readonly>
                </div>
                <div class="mb-3">
                    <input autocomplete="off" class="inputBox" name="prContact_no" id="prContact_no"
                        placeholder="Contact No" type="text"
                        value="{{ user[0]['contact_no'] if user[0]['contact_no'] else '' }}" required readonly>
                </div>
                <div class="mb-3">
                    <input autocomplete="off" class="inputBox" name="join_date" placeholder="Joined Date" type="date"
                        value="{{ user[0]['joined_date'] }}" required readonly>
                </div>
                <button class="saveUpdateBtn" type="submit" id="saveBtn" onclick="saveData()" hidden><i
                        class="fa-solid fa-user-pen"></i> Save</button>
            </form>
        </div>
    </div>

    <div class="grid grid-cols-2 gap-4">
        <div>
            <span class="font-semibold text-lg">Finacial Information</span>
        </div>
        <div>
            <div class="mb-3">
                <input autocomplete="off" class="inputBox" type="text" value="{{ user[0]['cash'] }}" required readonly>
            </div>
            <div class="mb-3">
                <input autocomplete="off" class="inputBox" type="text" value="{{ income[0]['sum(amount)'] }}" required
                    readonly>
            </div>
            <div class="mb-3">
                <input autocomplete="off" class="inputBox" type="text" value="{{ expense[0]['sum(amount)'] }}" required
                    readonly>
            </div>
        </div>
    </div>
    <button class="addSearchBtn" onclick="writePassword()"><i class="fa-solid fa-key"></i> Change Password
    </button>
    <div class="grid grid-cols-2 gap-4" id="password_div" hidden>
        <div>
            <span class="font-semibold text-lg">Security Preference</span>
        </div>
        <div>
            <form action="/passwordReset" method="post">
                <div class="mb-3">
                    <input autocomplete="off" class="inputBox" name="curr" id="curr" placeholder="Curent Password"
                        type="password" required>
                </div>
                <div class="mb-3">
                    <input autocomplete="off" class="inputBox" name="newPass" id="newPass" placeholder="New Password"
                        type="password" required>
                </div>
                <div class="mb-3">
                    <input autocomplete="off" class="inputBox" name="newCon" id="newCon"
                        placeholder="Confirm New Password" type="password" required>
                </div>
                <button class="saveUpdateBtn" type="submit">
                    <i class="fa-solid fa-user-lock"></i> Change Password</button>
            </form>
        </div>
    </div>
    <div class="mb-3">
        <label class="flex items-center cursor-pointer justify-start">
            <input type="checkbox" name="apply_dark" id="apply_dark" class="sr-only peer" checked onclick="dark()">
            <div class="relative w-11 h-6 bg-sky-200 peer-focus:outline-none peer-focus:ring-4
                peer-focus:ring-sky-300 dark:peer-focus:ring-sky-800 rounded-full peer dark:bg-sky-700
                peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full
                peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px]
                after:start-[2px] after:bg-white after:border-sky-300 after:border after:rounded-full
                after:h-5 after:w-5 after:transition-all dark:border-sky-600 peer-checked:bg-sky-600
                dark:peer-checked:bg-sky-600">
            </div>
            <span class="ms-3 text-sm font-medium text-gray-900 dark:text-slate-500">Auto apply</span>
        </label>
    </div>
</div>

{% endblock %}
